.menuAdmin {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.titreAdmin {
    font-size: 16pt;
    font-weight: bold;
    text-transform: uppercase;
}

.logoAdmin {
    width: 100px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.logoAdmin:hover {
    transform: scale(1.07);
}

.iconLogout {
    transition: transform .3s ease-in-out;
}

.iconLogout:hover {
    transform: scale(1.1);
}

#btnImportation,
.btnAdmin {
    padding: 10px 10px;
    background-color: #910717;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
    font-weight: bold;
    width: 300px;
    margin: 30px auto;
}

.contenuPageAdmin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* media query mobile */
@media screen and (max-width: 600px) {
    .logoAdmin {
        width: 70px;
    }

    .titreAdmin {
        font-size: 12pt;
    }
}